<h1> Shortly </h1>
<div class="navigation"> 
      <ul> 
        <li><a href="/" class="index">All Links</a></li> 
        <!-- <li><a href="#" class="addLink">Add link </a></li>  -->
        <!-- <li><a href="#" class="myLinks">My Links </a></li>  -->
        <li><a href="/logout" class="logout">Log Out</a></li> 
        </ul> 
</div> 
<div ng-view id='container'></div>
