<html ng-app= "ShortlyApp">
<head>
  <title>Shortly</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/nvd3/nv.d3.js"></script>

  <script src="client/app.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="bower_components/nvd3/nv.d3.css" >

</head>
<body>
  <%= yield %>
</body>
</html>